@{
    Layout = "~/Views/Shared/CustomerContentLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="justify-content-center">
                <h7>Профиль пользователя - Заказчика</h7>
            </div>
        </div>
    </div>
</div>