﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CustomerContentLayout {
    <header>
        <div class="container">
            <ul class="nav justify-content-center mb-2">
                <form method="get" asp-action="" asp-controller="">
                    <button class="btn btn-outline-success">Новый заказ</button>
                </form>
                <li class="nav-item">
                    <a class="nav-link" href="#">Чаты</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Заказы</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-action="" asp-controller="">Все закзы</a></li>
                        <li><a class="dropdown-item" asp-action="" asp-controller="" asp-route-statusesId="">Мои Завершенные</a></li>
                        <li><a class="dropdown-item" asp-action="" asp-controller="" asp-route-statusesId="">В работе</a></li>
                        <li><a class="dropdown-item" asp-action="" asp-controller="" asp-route-statusesId="">Ожидают утверждения</a></li>
                        <li><a class="dropdown-item" asp-action="" asp-controller="" asp-route-statusesId="">Отмененные</a></li>
                        <li><a class="dropdown-item" asp-action="" asp-controller="" asp-route-statusesId="">Удаленные</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <il class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Профиль заказчика</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" aria-current="page" asp-action="" asp-controller="">Мой профиль</a></li>
                            <li><a class="dropdown-item" aria-current="page" href="">Выйти из профиля</a></li>
                        </ul>
                    </il>
                </li>
            </ul>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}
