﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section EmployerContentLayout {
    <header>
        <div class="container">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="#">Чаты</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Заказы</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-action="" asp-controller="">Все заказы</a></li>
                        <li><a class="dropdown-item" asp-action="" asp-controller="" asp-route-statusesId="">Новые</a></li>
                        <li><a class="dropdown-item" asp-action="" asp-controller="" asp-route-statusesId="">Завершенные</a></li>
                        <li><a class="dropdown-item" asp-action="" asp-controller="" asp-route-statusesId="">Начатые</a></li>
                        <li><a class="dropdown-item" asp-action="" asp-controller="" asp-route-statusesId="">На согласовании</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <il class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Профиль исполнителя</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-action="" asp-controller="">Мой профиль</a></li>
                            <li><a class="dropdown-item" href="#">Моя анкета</a></li>
                            <li><a class="dropdown-item" aria-current="page" href="">Выйти из профиля</a></li>
                        </ul>
                    </il>
                </li>
                <li class="nav-item">

                </li>
            </ul>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}
