﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section mainPageContentLayout {
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-secondary">Главная страница 1</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Новости 2</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Блог 3</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Наша контактная информация 4</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control form-control-dark" placeholder="Искать..." aria-label="Поиск">
                </form>
                    <div class="text-end">
                        <div class="btn-group" role="group" aria-label="Группа кнопок свложеннымраскрывающимсясписком">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary dropdown-toggle" databstoggle="dropdownaria-   expanded="false">
                                    Аккаунт меню
                                </button>
                                <ul class="dropdown-menu">
                                    <li><button type="button" class="btn btn-outline-   lightme-2dropdownitem"onclick="window.location = window.origin+'/  accountLogin'">Войти<button></li>
                                    <li><button type="button" class="btn btnwarningdropdownitem"onclick="window.location    = window.origi+'accountRegistration'">Зарегистрироваться<button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./js/site.js"></script>
}